@charset "utf-8";

@font-face {
    font-family: ow;
    src: url(../fonts/koverwatch.woff);
}

html,body,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    background:rgb(1, 1, 53);
}

a{
    color:white;
    text-decoration: none;
}

#top{
    height: 100px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
}

#top h1{
    position:relative;
    left:calc(50% - 40px);
    top: calc(10px);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: url(../images/mainlogo.svg) no-repeat center center/100% 100%;
}
#heros{height:2000px;}
#tanker,#dealer,#healer{
    position:relative;
    width:100%;
    height:33%;
    outline: 5px dashed lime;
}
.char{
    float: left;
    width: 14%;
}
#tankers::after, #dealers::after, #healers::after{
    content:'';
    display:block;
    clear: both;
}
#tankers{
position:relative;
top: 0%;
width:80%;
margin: 0 auto;
margin-right:10px;
padding:1%;
}
#heros h2{
    background-color: rgba(0,0,0,0);
    position:absolute;
    margin-top:20px;
    width:150px;
    height:100px;
    font-size: 100px;
    color: rgba(255,255,255,0.8);
    font-style: italic;
    font-family: ow;
}
#tanker h2, #healer h2{
    left:50px;
}
#dealer h2{
    right:50px;
}
.ult {
    position:absolute;
    top:0%;
    color: white;
    font-size:60px;
    left:0%;
    display:none;
}
img{
    display:block;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 2%;
    background-color: wheat;
transform: skewX(-10deg);
}

.name{
    display:relative;
    margin: 0 auto;
    margin-top:3px;
    margin-right:35%;
    width:60px;
    color:black;
    background: #ccc;
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    z-index: 1px;
    
}